body,html{
		background: url(/Images/Author/100.jpg) no-repeat;
		background-size: cover;
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
	.form{
		width: 400px;
		height: 400px;
		background: rgba(255,255,255,0.5);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto auto;
		overflow: hidden;
		border-radius: 8px;
		border:1px solid #D8CBC1;
		box-shadow: #626464 3px 3px 3px;
	}
	.screen{
		width: 100%;
		height: 100%;
		position: relative;
	}
	.box{
		width: 250px;
		height: 220px;
		text-align: center;
		margin: 0 auto;
		font-family: 微软雅黑;
		font-weight: bold;
		font-size: 15px;
		color: #232E32;
		
	}
	.box li{
		width: 100%;
		height: 44px;
		list-style: none;
	}
	.box li p{
		font-size: 14px;
		width: 55px;
		height: 22px;
		text-align: center;
		float: left;
	}
	.box li span{
		/*display: block;*/
		font-size: 12px;
		width: 120px;
		height: 22px;
		text-align: left;
		float: left;
	}
	.input{
		width:180px;
		height: 22px;
		background: rgba(255,255,255,0.4);
		border: 0;
		font-size: 14px;
		float: left;
	}
	.input1{
		width:180px;
		height: 22px;
		background: rgba(255,255,255,0.4);
		border: 0;
		font-size: 14px;
		float: left;
	}
	.input2{
		width:100px;
		height: 22px;
		background: rgba(255,255,255,0.4);
		border: 0;
		font-size: 14px;
		float: left;
	}
	.tu-yanzheng{
		width:50px;
		height: 22px;
		float: left;
		margin-left: 5px;
	}
	.tu-yanzheng img{
		height: 22px;
		cursor: pointer;
	}
	.box-bottom{
		width: 100%;
		height: 50px;
	}
	.p4{
		font-size: 12px;
		color: red;
	}
	.button{
		margin-top:10px;
		width: 50px;
		height: 28px;
		cursor: pointer;
		background: #2979C6;
		border: 0;
		border-radius: 5px;
		color: #ffffff;
	}
	.button1{
		margin-top:10px;
		width: 50px;
		height: 28px;
		cursor: pointer;
		background: #FE9827;
		border: 0;
		border-radius: 5px;
		color: #ffffff;
	}
	.img{
		width: 65px;
		height: 65px;
		background: red;
		margin: 0 auto;
		border-radius: 50%;
		overflow: hidden;
		border: 2px solid #C4C4C4;
	}
	.img img{
		width: 100%;
		height: 100%;
	}
    .logo{
	   width: 100%;
	   height: 100px;
	}
	.inner-logo{
		margin-top:15px;
		margin-left: 50px;
		width: 100px;
		height: 70px;
		float: left;
	}
	.inner-logo img{
		width: 90px;
		height: 70px;
		
	}
	.logo-p{
		width: 200px;
		height: 70px;
		float: left;
		font-size: 24px;
		line-height: 100px;
	}