@{
    ViewBag.Title = "Index";
    Layout = null;
}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>智百验证交易平台</title>
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/index.css">
	<script src="js/jquery.js"></script>
	<script src="js/index.js"></script>

</head>
<body>
	<div class="header">
		<div class="header-top">
			<p class="title">
				智百验证交易平台
			</p>
			<ul class="header-top-right">
				<li class="top-right top-admin"><i class="icon iconfont icon-wodexinxi"></i> admin</li>
			</ul>
			<ul class="header-top-right1">
				<li class="top-right top-exit"><i class="icon iconfont icon-tuichu"></i> 退出</li>
				<li class="top-right top-refresh"><i class="icon iconfont icon-shuaxin"></i> 刷新</li>
				<li class="top-right top-about"><i class="icon iconfont icon-guanyu"></i> 关于</li>
				<li class="top-right top-help"><i class="icon iconfont icon-bangzhu"></i> 帮助</li>
			</ul>
		</div>
		<div class="header-bottom">
			<p class="bottom-left" style="margin-left:160px">位置：</p>
			<p class="bottom-left">首页</p>
			<p class="bottom-left">>&nbsp</p>
			<!-- <p class="bottom-left title1">我的信息 </p>
			<p class="bottom-left">>&nbsp</p> -->
			<p class="bottom-left title2">我的信息</p>
		</div>
	</div>
    
 
	<div class="left">
		<div class="logo">
			<img src="images/logo.png" alt="">
		</div>
        
        <div class="left-div">
        	<ul class="left-ul left-ul-first">
			    <img class="left-ul-img left-ul-first-img" src="images/sanjiao.png" alt="">
			    <li class="left-ul-li">
				   <span> <i class="icon iconfont icon-wodexinxi"></i> 我的信息</span>
			    </li>
			
			    <!-- <li class="left-li left-li-first">账户</li> -->
		    </ul>
		    <li class="left-li left-li-first information-li" >我的信息</li>
        </div>

         <div class="left-div">
        	<ul class="left-ul">
			    <img class="left-ul-img" src="images/sanjiao.png" alt="">
			    <li class="left-ul-li">
				   <span><i class="icon iconfont icon-my-project"></i>我的项目</span>
			    </li>
			
			    <!-- <li class="left-li left-li-first">账户</li> -->
		    </ul>
		    <li class="left-li project-li">我的项目</li>
		    
        </div>

         <div class="left-div">
        	<ul class="left-ul">
			    <img class="left-ul-img" src="images/sanjiao.png" alt="">
			    <li class="left-ul-li">
				   <span><i class="icon iconfont icon-jihuo"></i>  激活码池</span>
			    </li>
			
			    <!-- <li class="left-li left-li-first">账户</li> -->
		    </ul>
		    <li class="left-li activate-li">激活码池</li>
        </div>
		
         <div class="left-div">
        	<ul class="left-ul">
			    <img class="left-ul-img" src="images/sanjiao.png" alt="">
			    <li class="left-ul-li">
				   <span> <i class="icon iconfont icon-liebiao"></i> 设备列表</span>
			    </li>
			
			    <!-- <li class="left-li left-li-first">账户</li> -->
		    </ul>
		    <li class="left-li list-li">设备列表</li>
        </div>

         <div class="left-div">
        	<ul class="left-ul">
			    <img class="left-ul-img" src="images/sanjiao.png" alt="">
			    <li class="left-ul-li">
				   <span><i class="icon iconfont icon-guanyu"></i> 关于</span>
			    </li>
			
			    <!-- <li class="left-li left-li-first">账户</li> -->
		    </ul>
		    <li class="left-li about-li">关于</li>
        </div>
		
    </div>
    <div style="" class="content">
    	<iframe id="frame" src="information" frameborder="0">
    	   	
    	</iframe>	   
    </div>

    
	
</body>
</html>