@{
    ViewBag.Title = "Register";
    Layout = null;
}
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="/Content/common.css">
	<link rel="stylesheet" href="/Content/sign.css">
	<script src="/Scripts/jquery-1.8.3.min.js"></script>
	<script src="/Scripts/Code/sign.js"></script>
	<title>注册页面</title>
</head>

<body>
	<form class="form">
		<div class="screen">
			
			<div class="logo">
				<div class="inner-logo">
					<img src="/Images/Author/logo.png" alt="">
				</div>
				<p class="logo-p">
					智百验证交易平台
				</p>
			</div>
			
			

			<div class="box">
				
				<li class="box-li">
					<span>邮箱: </span><input class="comoninput input5" type="text" name="Email"></br>
				    <p class="bottom-p p5"></p>
				</li>
                 
                 <li class="box-li send">
			   	    <p class="inner-send">发送验证码</p>
			    </li>

                <li class="box-li">
					<span>验证码:</span><input class="comoninput input1" type="text" name=""></br>
					<p class="bottom-p p1"></p>
			    </li>

			    <li class="box-li">
					<span>设置账号:</span><input class="comoninput input" type="text" name="UserName"></br>
					<p class="bottom-p p0"></p>
			    </li>
                

                <li class="box-li">
		        <span>密码: </span><input class="comoninput input2" type="password" name="UserPass"></br>
		        <p class="bottom-p p2"></p>
		        </li>
				
				<li class="box-li">
		        <span class="qrmm">确认密码:</span><input class="comoninput input3" type="password" name="mima"></br>
		        <p class="bottom-p p3"></p>
		        </li>

		        <li class="box-li">
		        	 <span>图形验证: </span><input class="comoninput input4" type="text" name="ValiCode"></br>
		        	 <div class="tu-yanzheng">
						<img class="tu" title="点击切换图片" src="http://192.168.87.160:8080/Index/ValiCode" alt="">
					 </div>
		             <p class="bottom-p p4"></p>
				</li>

		        <input class="button" type="button" value="完成注册">
		        <input class="button1" type="button" value="返回登录">
                <div class="p6" style="font-size:14px;text-align:center"></div>
		        <!-- <p id="zhuce" class="bottom-p p6"></p> -->

		    </div>
		</div>	
	</form>


</body>
</html>