@{
    ViewBag.Title = "Top";
    Layout = null;
}
<div class="header-top">
    <p class="title">
        智百验证交易平台
    </p>
    <ul class="header-top-right">
        <li class="top-right top-admin"><i class="icon iconfont icon-wodexinxi"></i>@ViewBag.UserName</li>
    </ul>
    <ul class="header-top-right1">
        <li class="top-right top-exit"><i class="icon iconfont icon-tuichu"></i>退出</li>
        <li class="top-right top-refresh"><i class="icon iconfont icon-shuaxin"></i>刷新</li>
        <li class="top-right top-about"><i class="icon iconfont icon-guanyu"></i>关于</li>
        <li class="top-right top-help"><i class="icon iconfont icon-bangzhu"></i>帮助</li>
    </ul>
</div>
